/* wwwroot/css/admin.css */

body {
    overflow-x: hidden; /* Yatay scrollbar'ý engelle */
}

#wrapper {
    display: flex;
    transition: all 0.3s ease;
}

#sidebar-wrapper {
    min-height: 100vh;
    width: 250px; /* Kenar çubuðu geniþliði */
    margin-left: 0;
    transition: margin 0.3s ease;
    flex-shrink: 0;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: -250px; /* Kenar çubuðunu gizle */
}

#page-content-wrapper {
    width: 100%;
}

.sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

.list-group-item {
    border: none;
    padding: 1rem 1.25rem;
}

.list-group-item-action {
    transition: all 0.2s ease-in-out;
}

    .list-group-item-action:hover, .list-group-item-action:focus {
        background-color: #495057 !important;
        color: #fff !important;
        transform: translateX(5px);
    }

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -250px;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
}
