html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
.container {
    max-width: 1140px !important;
}

.navbar .navbar-brand.center-logo {
    position: static; /* absolute kullanma */
    transform: none;
}

.navbar {
    align-items: center;
}

.bgg-color{
    background-color: antiquewhite;

}
body.login-page {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('/images/login_photo.png') top center / cover no-repeat fixed;
    min-height: 100vh;
    display: flex;
    justify-content: center; /* yatay merkez */
    align-items: center; /* dikey merkez */

    margin: 0;
    padding: 0;
}

/* Login kutusu görsel üzerinde dursun */
.re-login-box {
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.20);
    border: 1px solid rgba(255,255,255,0.35);
    border-radius: 12px;
    padding: 25px;
    width: 380px;
    box-shadow: 0px 4px 25px rgba(0,0,0,0.35);
}

    .re-login-box .form-control {
        background: rgba(255,255,255,0.85);
    }
body.register-page {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('/images/regi_pp.png') top center / cover no-repeat fixed;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
    body.register-page header,
    body.register-page footer {
        display: none !important;
    }
.re-login-box {
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.20);
    border: 1px solid rgba(255,255,255,0.35);
    border-radius: 12px;
    padding: 25px;
    width: 380px;
    box-shadow: 0px 4px 25px rgba(0,0,0,0.35);
}

    .re-login-box .form-control {
        background: rgba(255,255,255,0.85);
    }



