@{ViewData["Title"] = " Yeni Üyelik ";
}

<div class=" d-flex flex-column justify-content-center">
    <i class=" bi bi-emoji-smile display-1"> </i>
    <h2> Hoşgeldiniz. </h2>
    <p>
        Yeni üyelik kaydınız başarıyla oluşturulmuştur. Belirttiğiniz e-posta adresinize göndermiş olduğumuz
        doğrulama mesajı ile kaydınızı doğrulayabilirsiniz.
    </p>
</div>