@{
    Layout = "_LayoutAccount";
    ViewData["Title"] = "Parola Güncelleme";

}
<div class=" d-flex flex-column ">
    <h4> Parola Güncellemesi Hakkında Bilgilendirme  </h4>
    <p>
        parolanız güncellemek için e-posta adresinize bir mail gitti.
        lütfen mail kutunuzu kontrol ediniz ve güncelleme linkine tıklayınız.
    </p>
</div>


