@{

    Layout = "_LayoutAccount";
    ViewData["Title"] = "Başarılı Parola Güncellemesi";

}
<div class=" d-flex flex-column ">
    <h4> Başarılı Parola Güncellemesi  </h4>
    <p>
        parola yenileme işleminiz başarıyla gerçekleşmiştir.
    </p>
    <a asp-action="Login"> Giriş Yapabilirsiniz. </a>
</div>

