@model List<Product>

@{
    ViewData["Title"] = "Ürünlerim";

}
<div class="p-3 d-flex justify-content-end">
    <a asp-action="Create" class="btn btn-primary">
        <i class="fa fa-plus" aria-hidden="true"></i>
        Yeni
    </a>
</div>