@model ShoppedOrder

<h3>İade Kargo Kodunu Gir</h3>

<form method="post">
    <div class="form-group">
        <label>İade Kargo Takip Numarası</label>
        <input type="text" name="trackingNumber" class="form-control" required />
    </div>

    <button class="btn btn-primary mt-3">Kaydet</button>
</form>